.inicio {
    background-image: url('../../images/hero.jpg');
    display: flex; 
    height: 75vh;
    justify-content: center; 
    align-items: center;
}

.inicio img{
    max-height: 90%;
    object-fit: contain;
    transform: translateY(30px);
    width: 100%;
}