.inicio {
    background-image: url('../../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.inicio img{
    max-height: 90%;
    object-fit: contain;
    transform: translateY(30px);
    width: 100%;
}