.nosotros {
    height: auto;
    padding-top: 10px;
}

.card-nosotros {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #e1e1e1;
}

.card-nosotros img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px 0 0 12px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.08); 
}

.card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: var(--verde);
    border-bottom: 2px solid rgba(var(--verde-rgb), 0.3); 
    padding-bottom: 10px;
}

.card-content p {
    line-height: 1.7;
    color: #444;
}

@media (max-width: 768px) {
    .card-nosotros {
        flex-direction: column; /* Hace que los elementos se apilen verticalmente */
        height: auto; /* Ajusta la altura para que la tarjeta se ajuste al contenido */
    }

    .card-nosotros img {
        width: 100%; /* La imagen ocupará el 100% del ancho disponible */
        height: 400px; /* Ajusta la altura de la imagen para que no quede demasiado grande */
        border-radius: 12px 12px 0 0; /* Redondea la parte superior de la imagen */
        box-shadow: none; /* Elimina la sombra de la imagen */
    }

    .card-content {
        padding: 20px; /* Reduce el padding para dar más espacio al contenido */
    }

    .card-content h3 {
        margin-top: 15px; /* Asegura que el título no esté pegado al contenido */
    }
}