.servicios {
    height: auto;
}

.contenedor_servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
}

.contenedor_tarjeta {
    padding: 0px;
    border-radius: 10px;
    opacity: 1;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tarjeta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 140px;
    background-color: rgb(39, 39, 44);
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    flex-grow: 1;
}


.imagen_tarjeta {
    width: 100px;
    box-sizing: border-box;
}

.imagen {
    width: 100px;
    box-sizing: border-box;
}

.imagen_tarjeta_superior {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.cuerpo_tarjeta {
    margin: 0px 0px 0px 24px;
    font-family: 'Arial', sans-serif;
    color: var(--beige);
}

.cuerpo_tarjeta h5 {
    color: var(--beige);
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 600;
}

.cuerpo_tarjeta p {
    font-size: 1em;
    color: var(--beige);
    line-height: 1.4;
}
@media (max-width: 768px) {
    .contenedor_servicios {
        grid-template-columns: 1fr;
    }
    .imagen_tarjeta_superior {
        width: 80px;
        box-sizing: border-box;
    }
    .imagen_tarjeta {
        width: 80px;        box-sizing: border-box;
    }
    
    .imagen {
        width: 80px;
        box-sizing: border-box;
    }
}
