
:root {
    --verde-principal: rgba(107, 126, 99, 1);
    --verde-claro: rgba(142, 166, 132, 1);
    --verde-oscuro: rgba(72, 91, 64, 1);
    --beige: rgba(237, 231, 219, 1);
    --gris-claro: rgba(246, 246, 246, 1);
    --gris-texto: rgba(68, 68, 68, 1);
    --marron-acento: rgba(133, 117, 95, 1);
    --blanco: #ffffff;
    --gris: rgb(221, 224, 245);
    
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-titulo: 'Roboto', sans-serif;
    --sombra-suave: 0 4px 12px rgba(0, 0, 0, 0.08);
    --transicion: all 0.3s ease-in-out;
    --border-radius: 8px;
}

body {
    font-family: var(--fuente-principal);
    color: var(--gris-texto);
    line-height: 1.6;
    background-color: var(--gris-texto);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fuente-titulo);
    font-weight: 700;
    color: var(--verde-oscuro);
}

a {
    text-decoration: none;
    color: var(--verde-principal);
    transition: var(--transicion);
}

a:hover {
    color: var(--verde-oscuro);
}
.section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: rgb(32, 32, 32);

}

.separador {
    text-align: center;
    position: relative;
    padding-top: 10px;
    margin-bottom: 50px;
    background-color: var(--verde-oscuro);
}

.separador h2 {
    display: inline-block;
    background-color: var(--verde-oscuro);
    padding: 0 20px;
    position: relative;
    z-index: 2;
    font-size: 2.2rem;
    color: var(--beige);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.separador:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--verde-claro);
    z-index: 1;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center; /* <--- para centrar horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    z-index: 9999;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: sans-serif;
    gap: 10px;
}

.whatsapp-button i {
    font-size: 30px;
    padding-left: 10px;
}


/* Efecto hover */
.whatsapp-button:hover {
    background-color: #128C7E;
}
.navbar{
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar .nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--verde-principal);
    transition: var(--transicion);
}

.navbar .nav-link {
    color: var(--gris);
    margin: 0 5px;
    position: relative;
    transition: var(--transicion);
}

.navbar .nav-link:hover {
    color: var(--verde-principal);
}

.navbar .nav-link:hover:after {
    width: 100%;
}

.navbar .navbar-brand img {
    max-height: 45px;
    transition: max-height 0.3s ease;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap; 
    width: auto; 
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.navbar-scrolled {
    background-color: rgba(107, 126, 99, 0.6);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
                background-color 0.5s ease-in-out,
                opacity 0.7s ease-in-out,
                box-shadow 0.5s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.navbar-scrolled .nav-link {
    color: var(--beige) !important;
    transition: color 0.3s ease-in-out;
}

.navbar-scrolled .nav-link:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-scrolled .navbar-brand img {
    max-height: 40px;
    transition: max-height 0.3s ease-in-out;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-item {
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-item:first-child {
    border-left: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
}

.nav-link:hover,
.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.footer {
    padding: 10px;
    background-color: var(--verde-oscuro);
    color: var(--blanco);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.footer-section {
    color: #999;
    margin-bottom: 1rem;
    align-items: center;
}

.redes-sociales-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.red-social-footer i {
    font-size: 1.5rem;
    color: var(--blanco);
    margin-right: 15px;
    transition: var(--transicion);
  }
  
  .red-social-footer:hover i {
    transform: scale(1.2);
    color: var(--verde-claro);
  }
.footer-section h3 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: white;
}

.footer-section p {
    color: #999;
    margin-bottom: 1rem;
}


.img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-footer img {
    width: 300px;
    height: auto;
}

.footer-section a {
    color: #999;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    transition: var(--transition);
}

.footer-section a:hover {
    color: white;
}

.footer-bottom {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid #333;
    text-align: center;
    color: #999;
}

svg {
    width: 1em;
}
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr; /* una sola columna */
  }

  .footer-section:nth-child(1) {
    order: 2;
  }

  .footer-section:nth-child(2) {
    order: 1; /* el del medio va primero */
  }

  .footer-section:nth-child(3) {
    order: 3;
  }
}
@media (max-width: 767px) {
    .whatsapp-button {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        bottom: 10px;
        right: 10px;
        gap: 0;
    }

    .whatsapp-button span {
        display: none; 
    }
    .whatsapp-button i {
        font-size: 30px;
        padding-left: 0px;
        padding-top: 4px;
    }

}